.game_guesser
  width: max-content
  margin: auto
  position: relative
  .search-box
    input
      width: 15dvw
      height: 3dvh
  
.searchResults
  position: absolute
  display: flex
  flex-direction: column
  padding: 0
  margin: 0
  align-items: center
  justify-content: center
  width: 100%
  background: #00000044
  li
    list-style: none
    display: flex

    align-items: center
    img
      width: 45px
      height: 45px
      image-rendering: pixelated
.search-box
  input
    background-color: transparent
    background-image: url(../../assets/gameAssets/frame1.png)