.game_guesser
  width: max-content
  margin: auto
  position: relative
  .search-box
    input
      font-size: 1.5em
      width: 30dvw
      height: 5dvh
      border: none
  
.searchResults
  position: absolute
  display: flex
  flex-direction: column
  padding: 0
  margin: 0
  align-items: center
  justify-content: center
  width: 100%
  background: #00000044
  li
    list-style: none
    display: flex
    width: 50%
    color: white

    align-items: center
    img
      width: 45px
      height: 45px
      image-rendering: pixelated


  