.guessedItemContainer
  display: grid
  grid-template-columns: 1fr
  
.guessedItem
  padding: 0

  width: 65dvw
  list-style: none

  display: grid
  grid-template-columns: 1fr 2fr 1.3fr 1.3fr 2fr 0.5fr 0.5fr 


  &__property
    font-size: 1.2em
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 .5em

    color: #fff
    border: 2px solid #7c4734
    background-color: #00000025

    &.pools
      ul
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        padding: 0
        li
          width: 100%
          display: flex
          justify-content: space-between
          gap: 1em
          align-items: center

    .itemImg
      width: 100%
      height: 100%
      object-fit: contain
      object-position: center
    p
      margin: 0

.guessedIcon
  width: 16px
  height: 16px
  image-rendering: pixelated