.guessedItemContainer
  display: grid
  grid-template-columns: 1fr
  
.guessedItem
  padding: 0
  margin:2em auto
  height: 5em

  width: 20dvw
  list-style: none

  display: flex
  align-items: center
  justify-content: center

  gap: 2em


  &__property
    display: flex
    flex-shrink: 0
    gap: 1em
    align-items: center
    justify-content: center
    height: 100%
    padding: 5px 3px
    &.pools
      width: 13em
      ul
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        padding: 0
        li
          width: 100%
          display: flex
          justify-content: space-between
          gap: 1em
          align-items: center

    .itemImg
      width: 100%
      height: 100%
      object-fit: contain
      object-position: center
    p
      margin: 0

.guessedIcon
  width: 16px
  height: 16px
  image-rendering: pixelated