@font-face 
  font-family: Upheaval
  src: url('./assets/fonts/upheavtt.ttf')

*
  font-family: Upheaval
  margin: 0

body
  margin: 0
  padding: 0
  height: 100dvh
  background-color: #603829


li
  list-style: none  


* img, img
  image-rendering: pixelated

#root
  margin: 0
  padding: 0

  display: flex
  gap: .5em
  flex-direction: column
  justify-content: center
  align-items: center


.guessedItems
    display: flex
    flex-direction: column-reverse
    gap: .5em