@font-face 
  font-family: Upheaval
  src: url('./assets/fonts/upheavtt.ttf')

  
body
  margin: 0
  padding: 0
  font-family: Upheaval

#root
  margin: 0
  padding: 0
  height: 100dvh
  background-color: #603829