$background_light: #fffcf5
$background_dark: #b4b4b4 
  
$border_regular: #565351

@font-face
  font-family: 'Isaac'
  src: url('./assets/fonts/IsaacGame.ttf')
  font-weight: normal
  font-style: normal

html
  font-size: 32px
  width: 100dvw
  max-height: 100dvh


::selection
  background: #8c8c8c
  
*
  font-family: Isaac
  box-sizing: border-box
  margin: 0
  padding: 0
  image-rendering: pixelated
  object-fit: cover  

img
  user-select: none 

::-webkit-scrollbar
  width: 7px
  height: 7px

::-webkit-scrollbar-thumb 
  background: $border_regular

::-webkit-scrollbar-track 
  background: $background_dark

body, #root
  scrollbar-gutter: stable
  height: 100dvh
  max-height: 100dvh
  width: 100dvw
  background: rgb(255,252,245)
  background: radial-gradient(circle, #fffcf5 0%, #b4b4b4 100%)


.main-section
  width: 70dvw
  height: 100%
  margin: auto

  display: flex
  flex-direction: column
  align-items: center

  gap: 10px

  @media all and (max-width: 900px)
    width: 100%

  .logo-img
    width: min(698px, 80dvw)